{% extends 'main/base.html'%}
{% block title %}Lista de usuários{%endblock%}

{%block content%}
<div class="row justify-content-center">
    <div class="col-12">
        <div class="jumbotron">

            <h1 class="main-h1"> Usuários cadastrados</h1>
        
        </div>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-6">
        <ul>
            {%for item in users%}
            <li class="list-group-item">{{item.nome}} {{item.sobrenome}}</li>
            {%endfor%}
        </ul>
    </div>   
</div>
    
{%endblock%}