{% extends 'main/base.html'%}
{% load crispy_forms_tags %}
{% block title%} Cadastro {%endblock%}

{% block content%} 
<div class="collumn justify-content-center">
    <div class="jumbotron">
        <h1 class="mt-2">Cadastre um usuário</h1>
    </div>
    <div class="col-8">
        <form method="post" action="/" class="form-group">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit", name="save" class="btn btn-success">Cadastrar</button>

        </form>
    </div>
</div>
{%endblock%}