{% extends 'main/base.html'%}
{% load crispy_forms_tags %}
{% block title%} Alterar usuário {%endblock%}

{% block content%} 
<div class="row justify-content-center">
    <div class="col-6">
        <div class="jumbotron">
            <h1 class="main-h1">Altere dados de um usuário</h1>
        </div>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <form method="post" action="/altera/escolha/{{user.id}}/" class="form-group">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit", name="save" class="btn btn-success">Alterar</button>

                </form>
            </div>
        </div>
        
    </div>
</div>
 {%endblock%}